<section class="content-bar ps-container">
        <div class="container">
            <ul style="width: 565px;">
                <li>
                    <a href="{{ url('<front>') }}courses">
                        <i class="icon md-book-1"></i>
                        Learning
                    </a>
                </li>
                <li>
                    <a href="{{ url('<front>') }}">
                        <i class="icon md-people"></i>
                        Teaching
                    </a>
                </li>
                <!-- <li>
                    <a href="{{ url('<front>') }}">
                        <i class="icon md-shopping"></i>
                        Assignment
                    </a>
                </li> -->
                <li>
                    <a href="{{ url('<front>') }}user/{{u_id}}">
                        <i class="icon md-user-minus"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="{{ url('<front>') }}private_messages">
                        <i class="icon md-email"></i>
                        Inbox
                    </a>
                </li>
            </ul>
        </div>
    <div class="ps-scrollbar-x-rail" style="width: 1286px; display: none; left: 0px;">
    <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail in-scrolling" style="top: 0px; height: 53px; display: none; right: 0px;">
        <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
    </div>
    </section>