<section id="before-footer" class="before-footer">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8">
                <div class="mc-count-item">
                     <h4>Courses</h4>
                     <p><span class="countup">{{ courses }}</span></p>
                 </div>
                 <div class="mc-count-item">
                     <h4>Teachers</h4>
                     <p><span class="countup">{{ teachers }}</span></p>
                 </div>
                 <div class="mc-count-item">
                     <h4>Students</h4>
                     <p><span class="countup">{{ students }}</span></p>
                 </div>
                 <div class="mc-count-item">
                     <h4>Tuition Paid</h4>
                     <p>$ <span class="countup">{{ total_price }}</span></p>
                 </div>
            </div>

            {% if logged_in %}
             <div class="col-lg-4">
                <div class="before-footer-link">
                    <a href="{{ url('<front>') }}courses" class="mc-btn btn-style-2">Become a Student</a>
                    {% if teache_role %}
                    <a href="{{ url('<front>') }}node/add/courses" class="mc-btn btn-style-1">Create Course</a>
                    {% else %}
                    <a href="{{ url('<front>') }}become-teacher/onboarding" class="mc-btn btn-style-1">Become a teacher</a>
                    {% endif %}
                </div>
            </div>
              {% else %}
              <div class="col-lg-4">
                <div class="before-footer-link">
                    <a href="#top" class="mc-btn btn-style-2">Become a member</a>
                    <a href="#top" class="mc-btn btn-style-1">Become a teacher</a>
                </div>
              </div>
            {% endif %}
        </div>
    </div>
</section>